<div class="container row mb-3">
  <h1 class="text-center">Razões Trigonométricas</h1>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="https://vestibulares.estrategia.com/portal/materias/matematica/seno-cosseno-tangente/" target="_blank">
    <button class="btn me-md-2 btn-outline-dark rounded-circle border-3 info" type="button">?
    </button>
    </a>
  </div>
</div>
<div class="container text-center ">
  <div class="row justify-content-md-center">

    <div class="col-4 p-2 cx">
      <button type="button" class="btn btn-outline-secondary border-0" (click)="navegarSeno()">
        <img src="/assets/img/seno.png">
        <p>Seno</p>
      </button>
    </div>

    <div class="col-4 pb-sm-5 cx">
      <button type="button" class="btn btn-outline-secondary p-3 border-0" (click)="navegarCosseno()">
        <img src="/assets/img/cosseno.png">
        <p>Cosseno</p>
      </button>
    </div>

    <div class="col-4 cx">
      <button type="button" class="btn btn-outline-secondary p-3 border-0" (click)="navegarTangente()">
        <img src="/assets/img/tangente.png">
        <p>Tangente</p>
      </button>
    </div>


  </div>
</div>
