<div class="container row mb-3">
  <h1 class="text-center">Calculo de Juros</h1>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="https://brasilescola.uol.com.br/matematica/juros-simples.htm" target="_blank">
      <button class="btn me-md-2 btn-outline-dark rounded-circle border-3 info" type="button">?
      </button>
    </a>
  </div>
</div>
<div class="container text-center ">
  <div class="row justify-content-md-center">

    <div class="col-md-auto">
      <button type="button" class="btn btn-outline-secondary border-0" (click)="navegarSimples()">
        <img src="/assets/img/juros-simples.png">
        <p>Juros Simples</p>
      </button>
    </div>

    <div class="col-md-auto">
      <button type="button" class="btn btn-outline-secondary p-3 border-0" (click)="navegarComposto()">
        <img src="/assets/img/juros-composto.png">
        <p>Juros Composto</p>
      </button>
    </div>
  </div>
</div>
