<div>
  <a [routerLink]="['/calc-areat']">
    <div class="card" style="width: 18rem; height: 18rem">
      <img src="/assets/img/area-retangulo.png" class="card-img-top justify-content-center" alt="baskara">
      <div class="card-body">
        <p>Area de Figuras Planas</p>
        <p class="card-text">Existe uma forma específica para descobrir qual é a área total de cada figura geométrica.
          Por isso, separamos para você as três mais utilizadas! </p>
      </div>
    </div>
  </a>
</div>
