<div class="container row mb-3">
  <h1 class="text-center">Area de Figuras Planas</h1>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="https://brasilescola.uol.com.br/matematica/area-de-figuras-planas.htm" target="_blank">
      <button class="btn me-md-2 btn-outline-dark rounded-circle border-3 info" type="button">?
      </button>
    </a>
  </div>
</div>
<div class="container text-center ">
  <div class="row justify-content-md-center">

    <div class="col-md-auto">
      <button type="button" class="btn btn-outline-secondary border-0" (click)="navegarTriangulo()">
        <img src="/assets/img/a-triang-s.png">
        <p>Triângulo</p>
      </button>
    </div>

    <div class="col-md-auto">
      <button type="button" class="btn btn-outline-secondary p-3 border-0" (click)="navegarQuadrado()">
        <img src="/assets/img/a-quad.png">
        <p>Quadrado</p>
      </button>
    </div>

    <div class="col-md-auto">
      <button type="button" class="btn btn-outline-secondary border-0" (click)="navegarTrapezio()">
        <img src="/assets/img/a-trap.png">
        <p>Trapézio</p>
      </button>
    </div>

    <div class="col-md-auto">
      <button type="button" class="btn btn-outline-secondary p-3 border-0" (click)="navegarRetangulo()">
        <img src="/assets/img/a-retang.png">
        <p>Retângulo</p>
      </button>
    </div>

    <div class="col-md-auto">
      <button type="button" class="btn btn-outline-secondary border-0" (click)="navegarLosango()">
        <img src="/assets/img/a-losang.png">
        <p>Losango</p>
      </button>
    </div>

    <div class="col-md-auto">
      <button type="button" class="btn btn-outline-secondary mt-4 border-0" (click)="navegarCirculo()">
        <img src="/assets/img/a-circ.png">
        <p>Círculo</p>
      </button>
    </div>

  </div>
</div>
