<div class="container row">
  <h3>Calculadora Avançada</h3>
  <h5>Sistema criado para facilitar a resolução de calculos complicados.</h5><br>
</div>

<div class="container row">
  <p>Para informações detalhadas de cada calculo, veja:</p>
  <div class="list-group col">
    <a
      href="https://brasilescola.uol.com.br/matematica/formula-bhaskara.htm#:~:text=PUBLICIDADE-,A%20f%C3%B3rmula%20de%20Bhaskara%20%C3%A9%20um%20m%C3%A9todo%20resolutivo%20para%20equa%C3%A7%C3%B5es,uso%20apenas%20de%20seus%20coeficientes."
      class="list-group-item list-group-item-action list-group-item-light border border-0" target="_blank">Fórmula de
      Bhaskara</a>
    <a href="https://brasilescola.uol.com.br/matematica/area-de-figuras-planas.htm"
       class="list-group-item list-group-item-action list-group-item-secondary border border-0" target="_blank">Área de
      figuras planas</a>
    <a
      href="https://brasilescola.uol.com.br/matematica/trigonometria.htm#:~:text=Trigonometria%20%C3%A9%20parte%20da%20geometria,seja%20ele%20um%20tri%C3%A2ngulo%20qualquer.&text=A%20trigonometria%20%C3%A9%20a%20%C3%A1rea,um%20tri%C3%A2ngulo%20e%20seus%20%C3%A2ngulos."
      class="list-group-item list-group-item-action list-group-item-light border border-0"
      target="_blank">Trigonometria</a>
    <a href="https://brasilescola.uol.com.br/matematica/juros-simples.htm"
       class="list-group-item list-group-item-action list-group-item-secondary border border-0"
       target="_blank">Juros</a>

  </div>
  <div class="col">
    <app-carousel></app-carousel>
  </div>
</div>

