<div class="container">
  <div class="row">
    <app-escolhas></app-escolhas>
  </div>

  <div class="row">
    <div class="col-md">
      <p class="text-center">Area do Trapezio</p>
    </div>
  </div>

  <div class="row">
    <div class="form-floating mb-3 col">
      <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com" name="B"
             [(ngModel)]="B">
      <label for="floatingInput" class="ms-2">Informe o B ou base maior</label>
    </div>

    <div class="form-floating mb-3 col">
      <input type="number" class="form-control" id="floatingInput3" placeholder="name@example.com" name="b"
             [(ngModel)]="b">
      <label for="floatingInput" class="ms-2">Informe o b ou base menor</label>
    </div>

    <div class="form-floating mb-3 col">
      <input type="number" class="form-control" id="floatingInput4" placeholder="name@example.com" name="h"
             [(ngModel)]="h">
      <label for="floatingInput" class="ms-2">Informe o h ou a altura</label>
    </div>

    <div class="form-floating mb-3 col">
      <input type="number" class="form-control" id="floatingInput2" placeholder="name@example.com"
             value="{{service.aTrapezio}}" disabled>
      <label for="floatingInput" class="ms-2">Area igual à</label>
    </div>
  </div>


  <div class="row mt-4 mb-5">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button type="button" class="btn btn-outline-secondary" (click)="calcular(B,b,h)">Calcular</button>
      <button type="button" class="btn btn-outline-secondary" (click)="limpar()">Limpar</button>
      <button type="button" class="btn btn-outline-dark" [routerLink]="['/tipo-formula']"> Voltar</button>
    </div>
  </div>
</div>

